<h1>Listing journalists</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>User ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @journalists.each do |journalist| %>
      <tr>
        <td><%= journalist.name %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Show', journalist, class: "btn btn-default btn-xs" %>
        <% if journalist.user == current_user %>
          <%= link_to 'Edit', edit_journalist_path(journalist), class: "btn btn-default btn-xs" %>
          <%= link_to 'Destroy', journalist, class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Journalist', new_journalist_path %>
<% end %>