<h1>Listing journalists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journalists.each do |journalist| %>
      <tr>
        <td><%= journalist.name %></td>
        <td><%= journalist.user.email %></td>
        <td><%= link_to 'Show', journalist %></td>
        <% if journalist.user == current_user %>
          <td><%= link_to 'Edit', edit_journalist_path(journalist) %></td>
          <td><%= link_to 'Destroy', journalist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Journalist', new_journalist_path %>
<% end %>