<h1>Listing vehicles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
        <td>
          <%= link_to 'Show', vehicle, class: "btn btn-default btn-xs" %>
          <% if vehicle.user_id == current_user.id %>
            <%= link_to 'Edit', edit_vehicle_path(vehicle), class: "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', vehicle, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
